---
---
@import "{{ site.theme }}";
a.navlink {
	background: url(../images/hexagon.png) no-repeat 1px;
}

a {
  color:#a11090;
}

h1{
  color: #ac1847;
}

h2{
  color: #a5137b;
}

h3{
  color: #dc6900;
}

sup{
vertical-align: 15%;
    font-size: 60%;
}

#banner {
  background: #a51379;
  border: 1px solid #7a0e5a;
  text-align: right;
  margin-right: -345px;
  padding-right: 20px;
}

span.bannertext {
    line-height:52px;
    font-size:90%;
      color:#ffe788;
    text-transform:uppercase;
 }


@media screen and (max-width: 480px) {
  body {
  }

  header{

    h1 {
    }
  }
  section {
  }

  //#banner { display: table !important;}
  #banner {
    top: 80px;
    display: inline;
    .fork {
      float: left;
      display: inline-block;
      margin-left: 0px;
    position:fixed;
    left:20px;

      }
  }

}




