---
---
@import "{{ site.theme }}";
a.navlink {
	background: url(../images/hexagon.png) no-repeat 1px;
}

a {
  color:#a11090;
}

h1{
  color: #ac1847;
}

h2{
  color: #a5137b;
}

h3{
  color: #dc6900;
}

sup{
vertical-align: 15%;
    font-size: 60%;
}

#banner {
  background: #a51379;
  border: 1px solid #7a0e5a;

  .downloads{
     span{
        color:#ffe788;
    }
  }
}

@media print, screen and (max-width: 480px) {
  body {
  }

  header{

    h1 {
    }
  }
  section {
  }

  #banner { display: inline !important;}
  header ul {
    display:inline !important;
  }
}




