---
---
@import "{{ site.theme }}";
a.navlink {
	background: url(../images/hexagon.png) no-repeat 1px;
}

a {
  color:#a11090;
}

h1{
  color: #ac1847;
}

h2{
  color: #a5137b;
}

h3{
  color: #dc6900;
}

sup{
vertical-align: 15%;
    font-size: 60%;
}
