---
---
@import "{{ site.theme }}";
a.navlink {
	background: url(../images/hexagon.png) no-repeat 1px;
}

a.htitle {
  font-size: 36px;	
  font-color: #C30000;
}

a.hsubtitle {
  font-size: 30px;	
  font-color: #C30000;
}

