<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
        <p class="header">{{ site.description | default: site.github.project_tagline }}</p>

          <a class="buttons github" href="https://github.com/anharmonic/d3q">View On GitHub</a>
          {% include nav.html %}

      </header>

      <section>
        <!--<h1 class="htitle">{{ site.title | default: site.github.repository_name }}</h1>
        <h1 class="hsubtitle">{{ site.subtitle | default: site.github.repository_name }}</h1>-->
        {{ content }}
      </section>

      <footer>
        <p class="header" style="font-size:0.8em;"><small>This project is maintained by <a href="https://github.com/paulatz">Lorenzo&nbsp;Paulatto</a></small></p>
      </footer>
    </div>
  </body>
</html>
